/* Helpers */

// General
//
//

.skew--top {
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 100%);
}

.skew--clip {
  clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
}

// Image helpers
//
//

.img-responsive {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.img-rounded {
  border-radius: $border-radius;
}

.img-circle {
  border-radius: 50%;
}

// Text helpers
//
//

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-accent {
  color: $accent;
}

.small {
  font-size: 80%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hide {
  display: none !important;
}

.d-none-md {
  @include breakpoint(0, $lg) {
    display: none !important;
  }
}

.d-block-sm {
  @include breakpoint(0, $md) {
    display: block !important;
  }
}

.bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-repeat {
  background-repeat: repeat;
  background-size: auto;
  -webkit-background-size: auto;
  background-position: 0 0;
}