/* Variables */
$primary-font-family: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$secondary-font-family: "Gotham Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$border-radius: 4px;

// Colors
//
// Color system

$primary: #613675;
$secondary: #CE7BED;
$accent: #E4B5F5;
$white: #fff;
$red: #ED6959;
$red-500: #FCE8EB;
$yellow: #FE8501;
$yellow-500: #FEF8E8;
$blue: #1CB0FF;
$green: #1EC9AB;
$green-500: #3DB84D;
$purple: #A783FF;
$purple-100: #8F20ED;
$purple-200: #C95DFF;
$purple-300: #D950E3;
$purple-400: #756E93;
$purple-500: #748AFD;
$purple-600: #F0EBF8;
$purple-700: #F2ECFF;
$purple-800: #9A00FF;
$success: $green;
$disabled: #dddde6;
$text: #3A3A3A;
$error: $red;
$grey: #E2E2E2;
$grey-200: #3B3B3B;
$grey-background: #E7E6E8;
$grey-border: #707070;
$grey-text: #7d7d7d;
$dark: #363636;
$light: $white;

$color-map: (
        primary: $primary,
        secondary: $secondary,
        success: $success,
        error: $error,
        disabled: $disabled,
        white: $white,
        light: $grey,
        background: $grey-background,
        border: $grey-border,
        grey: $grey-text,
        dark: $dark,
);

// Grid breakpoints
//
// Grid breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 767px,
        lg: 1024px,
        xl: 1400px,
);

// Grid container
//
// Max widths of container for different breakpoints

$container-max-widths: (
  //xs: 0,
  //sm: 540px,
  //md: 720px,
  //lg: 960px,
  md: 90%,
  xl: 80%,
);

//Breakpoints
$xs: 374px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xlg: 1365px;
$xl: 1439px;
$xxl: 1559px;


$container-max-widths-wide: 1530px;

// Grid container
//
// Max widths of container for different breakpoints

$grid-gutters: 30px;
$grid-columns: 12;

// Header
//
// Height of header (useful
// for fixed headers)

$header-height: 60px;

// Assets URL
//
// Relative or absolute URL where all assets are served from
$base-url: "../../assets/";

// Links
//
// Basic styles for links

$link-color: $accent;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

// Gradient
$primary-gradient: linear-gradient(183.05deg, rgba(17, 16, 30, 0.78) -16.57%, rgba(242, 6, 47, 0) 41.64%, rgba(30, 15, 31, 0.28) 97.47%), $primary;
$body-gradient: linear-gradient(45deg, rgba(251,241,245,1) 0%, rgba(246,243,237,1) 15%, rgba(239,234,249,1) 75%, rgba(225,238,255,1) 100%);
$home-body-gradient: linear-gradient(45deg, rgba(251,241,245,1) 0%, rgba(246,243,237,1) 15%, rgba(239,234,249,1) 75%, rgba(255,225,249,1) 100%);

// Box Shadow
$box-shadow-primary: 0px 4px 20px rgba(45, 53, 82, 0.18);