@font-face {
  font-family: 'Circular';
  src: url('./../assets/fonts/CircularStd-Black.eot');
  src: url('./../assets/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/CircularStd-Black.woff2') format('woff2'),
  url('./../assets/fonts/CircularStd-Black.woff') format('woff'),
  url('./../assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./../assets/fonts/CircularStd-Book.eot');
  src: url('./../assets/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/CircularStd-Book.woff2') format('woff2'),
  url('./../assets/fonts/CircularStd-Book.woff') format('woff'),
  url('./../assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./../assets/fonts/CircularSpotifyText-Light.eot');
  src: url('./../assets/fonts/CircularSpotifyText-Light.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/CircularSpotifyText-Light.woff2') format('woff2'),
  url('./../assets/fonts/CircularSpotifyText-Light.woff') format('woff'),
  url('./../assets/fonts/CircularSpotifyText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./../assets/fonts/CircularStd-Bold.eot');
  src: url('./../assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('./../assets/fonts/CircularStd-Bold.woff') format('woff'),
  url('./../assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular';
  src: url('./../assets/fonts/CircularStd-Medium.eot');
  src: url('./../assets/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('./../assets/fonts/CircularStd-Medium.woff') format('woff'),
  url('./../assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro-Medium.eot');
  src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
  url('./../assets/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro-Medium.woff') format('woff'),
  url('./../assets/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
  url('./../assets/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro-Bold.woff') format('woff'),
  url('./../assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro-Light.eot');
  src: local('Gotham Pro Light'), local('GothamPro-Light'),
  url('./../assets/fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro-Light.woff') format('woff'),
  url('./../assets/fonts/GothamPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro-Black.eot');
  src: local('Gotham Pro Black'), local('GothamPro-Black'),
  url('./../assets/fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro-Black.woff') format('woff'),
  url('./../assets/fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('./../assets/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro.woff') format('woff'),
  url('./../assets/fonts/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./../assets/fonts/GothamPro-Italic.eot');
  src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
  url('./../assets/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('./../assets/fonts/GothamPro-Italic.woff') format('woff'),
  url('./../assets/fonts/GothamPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}