/* Typography */
body {
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;

  @include breakpoint(0, $lg) {
    font-size: 14px;
  }

  @include breakpoint(0, $sm) {
    font-size: 12px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading,
.subheading,
.title,
.subtitle {
  margin: 0 0 24px;
  font-weight: 700;
  font-family: $primary-font-family;
  line-height: 1.2;
  color: $dark;

  @include breakpoint(0, $md) {
    margin-bottom: 16px;
  }

  @include breakpoint(0, $sm) {
    margin-bottom: 12px;
  }

}


.heading {
  margin-bottom: 50px;
  font-size: 40px;
  color: $dark;
  font-weight: 400;
  text-align: center;

  @include breakpoint(0, $lg) {
    margin-bottom: 40px;
    font-size: 36px;
  }

  @include breakpoint(0, $md) {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

h3,
.title {
  font-size: 21px;

  @include breakpoint(0, $sm) {
    font-size: 14px;
  }
}

h4,
.subtitle {
  font-size: 18px;

  @include breakpoint(0, $sm) {
    margin-bottom: 14px;
  }
}

h5 {
  font-size: 17px;
}

.caption {
  color: $grey-text;
}

h6 {
  font-size: 16px;
}

b,
strong {
  font-weight: 700;
}

p {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.4;
  color: $text;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(0, $lg) {
    margin-bottom: 16px;
    font-size: 14px;
  }

  @include breakpoint(0, $md) {
    margin-bottom: 12px;
  }

  @include breakpoint(0, $sm) {
    margin-bottom: 8px;
    font-size: 12px;
  }
}