.container {
  padding: 0 $grid-gutters;
  margin: 0 auto;
  width: 100%;

  @each $prefix, $breakpoint in $grid-breakpoints {
    @each $c-prefix, $width in $container-max-widths {
      @if $prefix == $c-prefix {
        @include breakpoint($breakpoint) {
          @include container($width)
        }
      }
    }
  }

  &--fluid {
    max-width: 100%;
  }

  &--wide {
    max-width: $container-max-widths-wide;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &--gutters {
    margin-left: -$grid-gutters / 2;
    margin-right: -$grid-gutters / 2;

    > [class*="col"] {
      padding: 0 $grid-gutters / 2;
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--start {
    justify-content: flex-start;
    text-align: start;
  }

  &--center {
    justify-content: center;
    text-align: center;
  }

  &--end {
    justify-content: flex-end;
    text-align: end;
  }

  &--top {
    align-items: flex-start;
  }

  &--middle {
    align-items: center;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }
}

.col {
  flex: 1 0 0;
  max-width: 100%;
}

//@each $prefix, $breakpoint in $grid-breakpoints {
//  @for $i from 1 through $grid-columns {
//    @include breakpoint($breakpoint) {
//
//      // generate column classes
//      .col-#{$prefix}-#{$i} {
//        @include make-col($i, $grid-columns);
//      }
//
//      // generate offset classes
//      .offset-#{$prefix}-#{$i - 1} {
//        @include make-offset($i - 1, $grid-columns);
//      }
//    }
//  }
//
//  @for $j from 0 through $grid-columns {
//    @include breakpoint($breakpoint) {
//
//      // generate order classes
//      .#{prefix}-order-#{$j} {
//        order: $j;
//      }
//    }
//  }
//}