<template>
  <div
    class="cta-banner"
  >
   <div class="cta-banner__container container">
     <div class="cta-banner__row">
       <div class="cta-banner__content">
         <h2 class="cta-banner__title" v-html="title" />
         <p class="cta-banner__text" v-html="text" />
       </div>
       <div class="cta-banner__actions">
         <newsletter-form
           v-if="type === 'newsletter'"
           class="cta-banner__newsletter"
         />
         <main-button v-else class="cta-banner__button btn--shadow btn--icon btn--icon-left">
           <main-icon name="messages-shadow" />
           <span>GET STARTED</span>
         </main-button>
       </div>
      </div>
   </div>
  </div>
</template>

<script>
import NewsletterForm from '@/components/blog-page/NewsletterForm.vue';

export default {
  name: 'CtaBanner',
  components: { NewsletterForm },
  props: {
    title: String,
    text: String,
    type: String,
  },
  data() {
    return {

    };
  },
};
</script>

<style scoped lang="scss">
@import "@/scss/utils/_variables.scss";
@import "@/scss/utils/_mixins.scss";
.cta-banner {
  padding: 70px 0;

  @include breakpoint(0, $lg) {
    padding: 35px 0;
  }

  @include breakpoint(0, $sm) {
    padding: 25px 0;
  }
  &__row {
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $primary;
    border-radius: $border-radius * 6;

    @include breakpoint(0, $lg) {
      flex-direction: column;
      justify-content: center;
      padding: 40px;
    }

    @include breakpoint(0, $md) {
      padding: 30px;
    }
  }

  &__content {
    width: 60%;

    @include breakpoint(0, $lg) {
      width: 100%;
    }
  }

  &__actions {
    width: 35%;
    text-align: center;

    @include breakpoint(0, $lg) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $light;
    font-size: 40px;
    font-weight: 400;

    @include breakpoint(0, $lg) {
      width: 100%;
      font-size: 36px;
    }

    @include breakpoint(0, $md) {
      font-size: 28px;
    }
  }

  &__text {
    color: $light;
    font-size: 20px;

    @include breakpoint(0, $lg) {
      margin-bottom: 40px;
      font-size: 18px;
    }

    @include breakpoint(0, $md) {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  &__newsletter {
    display: flex;
    justify-content: flex-end;

    @include breakpoint(0, $lg) {
      justify-content: center;
    }

    @include breakpoint(0, $sm) {
      display: block;
    }
  }

}
</style>
