<template>
  <svg
    v-if="name"
    v-html="computedValue"
    :viewBox="computedViewBox"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    :width="defaultWidth"
    :height="defaultHeight"
  />
</template>

<script>
export default {
  name: 'MainIcon',
  props: {
    name: {
      type: String,
      required: true,
    },
    heigth: {
      type: [Number, String],
      default: null,
    },
    width: {
      type: [Number, String],
      default: null,
    },
  },
  computed: {
    computedValue() {
      switch (this.name) {
        case 'messages':
          return `
          <path fill="#fff" d="M13.873 0H2.269A2.271 2.271 0 000 2.269v10.169a.588.588 0 00.929.478l3.232-2.306a1.582 1.582 0 01.923-.3h7.108a2.271 2.271 0 002.269-2.269V.588A.588.588 0 0013.873 0zm-2.855 7.121H4.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176zm0-2.743H4.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176z"/>
          <path fill="#fff" d="M20.064 6.828v10.169a.588.588 0 01-.929.478l-3.232-2.305a1.582 1.582 0 00-.923-.3H7.872a2.272 2.272 0 01-2.269-2.269v-1.114h6.59a3.448 3.448 0 003.44-3.441V4.559h2.158a2.272 2.272 0 012.273 2.269z"/>
        `;
        case 'messages-shadow':
          return `
            <g opacity=".16" fill="#3b3b3b">
            <path d="M14.873 2H3.269A2.271 2.271 0 001 4.269v10.169a.588.588 0 00.929.478l3.232-2.306a1.582 1.582 0 01.923-.3h7.108a2.271 2.271 0 002.269-2.269V2.588A.588.588 0 0014.873 2zm-2.855 7.121H5.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176zm0-2.743H5.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176z"/>
            <path d="M21.064 8.828v10.169a.588.588 0 01-.929.478l-3.232-2.305a1.582 1.582 0 00-.923-.3H8.872a2.272 2.272 0 01-2.269-2.269v-1.114h6.59a3.448 3.448 0 003.44-3.441V6.559h2.158a2.272 2.272 0 012.273 2.269z"/>
            </g>
            <g fill="#7f4cfc"><path d="M13.873 0H2.269A2.271 2.271 0 000 2.269v10.169a.588.588 0 00.929.478l3.232-2.306a1.582 1.582 0 01.923-.3h7.108a2.271 2.271 0 002.269-2.269V.588A.588.588 0 0013.873 0zm-2.855 7.121H4.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176zm0-2.743H4.227a.588.588 0 010-1.176h6.792a.588.588 0 010 1.176z"/>
            <path d="M20.064 6.828v10.169a.588.588 0 01-.929.478l-3.232-2.305a1.582 1.582 0 00-.923-.3H7.872a2.272 2.272 0 01-2.269-2.269v-1.114h6.59a3.448 3.448 0 003.44-3.441V4.559h2.158a2.272 2.272 0 012.273 2.269z"/>
            </g>
        `;
        case 'arrow':
          return `
            <path d="M0.344 6.392H2.072L4.832 3.668L2.072 0.944H0.344L3.116 3.668L0.344 6.392Z" fill="#fff"/>
        `;
        case 'reverse':
          return `
            <path d="M5.347 1.6a.535.535 0 01.535-.535h.535V.53a.535.535 0 011.069 0v.535h.535a.535.535 0 010 1.069h-.535v.535a.535.535 0 01-1.069 0v-.535h-.536a.535.535 0 01-.534-.534zM1.601 7.485a.535.535 0 10-.535-.535.535.535 0 00.535.535zm20.32 14.971a.535.535 0 10.535-.535.535.535 0 00-.535.535zM4.277 19.248a1.611 1.611 0 01-1-.351L.601 16.758a1.6 1.6 0 112-2.5l.235.188a13.9 13.9 0 0125.776-4.814 1.606 1.606 0 01-.586 2.191 1.6 1.6 0 01-2.191-.586A10.695 10.695 0 006.171 14.1a1.6 1.6 0 011.782 2.654L5.279 18.9a1.611 1.611 0 01-1.002.348zm-.334-1.187a.548.548 0 00.668 0l2.673-2.139a.535.535 0 00-.275-.949.544.544 0 00-.393.114l-.868.694a.535.535 0 01-.865-.475A11.762 11.762 0 0126.766 10.7a.534.534 0 00.326.25.526.526 0 00.4-.054.535.535 0 00.2-.73A12.831 12.831 0 003.791 15.5a.535.535 0 01-.867.373l-.986-.789a.531.531 0 00-.333-.117h-.06a.535.535 0 00-.275.949zm28.855.585a1.6 1.6 0 01-2.254.251l-.236-.188a13.9 13.9 0 01-25.88 4.632 1.606 1.606 0 01.619-2.182 1.6 1.6 0 012.182.619 10.695 10.695 0 0019.749-2.731 1.609 1.609 0 01-2.032-.4 1.6 1.6 0 01.25-2.255l2.673-2.139a1.6 1.6 0 012 0l2.673 2.139a1.6 1.6 0 01.25 2.255zm-.721-1.061a.53.53 0 00-.2-.358l-2.673-2.139a.531.531 0 00-.668 0l-2.673 2.139a.535.535 0 00.669.834l.868-.694a.535.535 0 01.865.475A11.762 11.762 0 016.296 22.3a.535.535 0 00-.934.521 12.831 12.831 0 0024-5.173.535.535 0 01.867-.373l.986.789a.535.535 0 00.866-.476zm-8.552-1.01a6.951 6.951 0 11-6.951-6.951 6.959 6.959 0 016.951 6.951zm-1.069 0a5.878 5.878 0 00-9.624-4.533v.034l1.069 1.066 1.178.236a.535.535 0 01.4.693l-.535 1.6a.535.535 0 01-.507.365h-1.736a.535.535 0 01-.464-.269l-.949-1.66-.04-.008a5.879 5.879 0 1011.211 2.472zm-1.619 2.25a.542.542 0 01-.031.1l-.663 1.59a.463.463 0 01-.029.059c-.061.107-.146.214-.582.453a.538.538 0 01-.155.056 9.176 9.176 0 00-.578.254.534.534 0 01-.227.051.736.736 0 01-.715-.558l-.05-.3a10.3 10.3 0 00-.646-.466h-.635a.73.73 0 01-.531.429l-.53.219a.608.608 0 01-.838-.229l-.805-1.806a.733.733 0 01.339-.967c.344-.175.73-.375.9-.465l.56-.784c.173-.243.428-.255.752-.27h.064l.048-.1a.734.734 0 01.659-.407h.477a.735.735 0 01.715.56l.347-.182a.535.535 0 01.73.242l.064.065a.818.818 0 01.292.488l.033.3c.148.195.55.676.895 1.077a.533.533 0 01.058.082.736.736 0 01.083.513zm-4.263-5.458a.533.533 0 00.378-.157l.535-.535a.535.535 0 10-.756-.756l-.535.535a.535.535 0 00.378.913zm1.069 1.069a.535.535 0 001.069 0V13.9a.535.535 0 00-1.069 0z" fill="#5e3471"/>
        `;
        case 'cloud':
          return `
            <path d="M1.631 4.931l.4-.4-.4-.4a.566.566 0 01.8-.8l.4.4.4-.4a.566.566 0 11.8.8l-.4.4.4.4a.566.566 0 11-.8.8l-.4-.4-.4.4a.566.566 0 01-.8-.8zM33.583 17.4a6.39 6.39 0 01-6.388 6.386H8.22A8.216 8.216 0 017.171 7.42a10.357 10.357 0 0120.289 2.942c0 .214-.008.431-.025.662a6.391 6.391 0 016.148 6.376zm-1.133 0a5.256 5.256 0 00-5.25-5.25c-.1 0-.193.007-.288.014h-.067a.566.566 0 01-.6-.637A9.22 9.22 0 008.164 8.075a.567.567 0 01-.5.425 7.084 7.084 0 00.561 14.145h18.97a5.257 5.257 0 005.25-5.251zM8.212 9.628a5.953 5.953 0 00-5.947 5.947.567.567 0 101.133 0 4.819 4.819 0 014.814-4.814.567.567 0 100-1.133zm19.539-6.8a1.7 1.7 0 111.7 1.7 1.7 1.7 0 01-1.7-1.696zm1.133 0a.566.566 0 10.566-.566.567.567 0 00-.567.57zM6.795 1.7a.566.566 0 10-.566-.566.566.566 0 00.566.566zm17.558 11.892a7.362 7.362 0 11-7.358-7.362 7.371 7.371 0 017.358 7.362zm-1.133 0a6.23 6.23 0 10-6.23 6.23 6.237 6.237 0 006.23-6.23zm-3.964-1.132a2.265 2.265 0 11-2.261-2.266 2.268 2.268 0 012.261 2.266zm1.7 0c0 2.991-2.972 6.23-3.964 6.23s-3.964-3.238-3.964-6.23a3.965 3.965 0 017.929 0zm-1.133 0a2.832 2.832 0 00-5.663 0 7.352 7.352 0 002.835 5.067 7.352 7.352 0 002.827-5.067z" fill="#613675"/>
        `;
        case 'mail':
          return `
            <path d="M27.059 0H4.975a2.065 2.065 0 00-2.063 2.063v6.674H.485a.485.485 0 100 .971h2.427v2.912h-.971a.485.485 0 000 .971h.971v1.82a2.065 2.065 0 002.063 2.063h22.084a2.065 2.065 0 002.063-2.063V2.063A2.065 2.065 0 0027.059 0zM4.975.971h22.084a1.092 1.092 0 01.224.023L17.035 9.665a1.573 1.573 0 01-2.038 0L4.749.994a1.092 1.092 0 01.224-.023zm-1.092 14.44v-1.82h.971a.485.485 0 000-.971h-.971v-.971h1.456a.485.485 0 000-.971H3.883v-.971h1.941a.485.485 0 100-.971H3.883V2.062a1.083 1.083 0 01.1-.458.488.488 0 00.07.073l9.253 7.829-9.331 6.345a1.084 1.084 0 01-.092-.441zM27.059 16.5H4.975a1.094 1.094 0 01-.2-.019l9.3-6.326.294.249a2.541 2.541 0 003.292 0l.294-.249 9.3 6.326a1.094 1.094 0 01-.196.019zm1.092-1.092a1.084 1.084 0 01-.094.441l-9.331-6.345 9.327-7.892a1.083 1.083 0 01.1.448zM.97 11.646a.485.485 0 110-.971h.971a.485.485 0 110 .971z" fill="#613675"/>
          `;
        case 'tel':
          return `
             <path d="M28.405 26.866a5.4 5.4 0 01-2.89-.32 4.639 4.639 0 00.2-2.349l-.019-.066a1.433 1.433 0 00-2.768.742l.018.067a4.667 4.667 0 001.356 1.955 2.95 2.95 0 01-4.334 1.162 4.67 4.67 0 00.202-2.372l-.018-.067a1.433 1.433 0 00-2.769.743l.018.066a4.638 4.638 0 001.347 1.935 5.4 5.4 0 01-2.338 1.72 3.086 3.086 0 01-2.636-.422 4.048 4.048 0 01-1.437-1.947l2.287-.614a1.434 1.434 0 001.013-1.755l-1.401-5.226a1.431 1.431 0 00-1.505-1.056l-.995.084a1.431 1.431 0 01-1.505-1.056l-1.212-4.521a1.431 1.431 0 01.774-1.668l.904-.424a1.431 1.431 0 00.775-1.668l-1.401-5.226A1.434 1.434 0 008.316 3.57l-2.31.619a6.217 6.217 0 00-4.39 7.606L4.71 23.33a6.22 6.22 0 006.678 4.565 5.049 5.049 0 001.843 2.552 4.068 4.068 0 003.427.56 6.32 6.32 0 002.88-2.099 3.886 3.886 0 005.571-1.494 6.32 6.32 0 003.544.377.478.478 0 00-.247-.923zm-15.1-6.499l1.402 5.226a.478.478 0 01-.338.586l-.462.124-1.672-6.238.569-.049a.477.477 0 01.506.351zM9.14 4.831l1.401 5.226a.477.477 0 01-.257.556l-.517.242L8.094 4.62l.469-.126a.478.478 0 01.582.34zM5.631 23.083L2.54 11.549a5.26 5.26 0 013.714-6.437l.923-.247 1.735 6.472a2.385 2.385 0 00-.817 2.486l1.212 4.52a2.386 2.386 0 001.951 1.744l1.735 6.472-.922.248a5.26 5.26 0 01-6.439-3.724zm13.023 2.442a.478.478 0 01.586.338l.003.013.007.025a3.292 3.292 0 01-.086 1.52 3.293 3.293 0 01-.836-1.273l-.005-.02-.004-.017a.478.478 0 01.338-.586zm5.536-1.484a.478.478 0 01.586.338l.004.013.006.024a3.292 3.292 0 01-.086 1.522 3.293 3.293 0 01-.84-1.27l-.005-.02-.004-.017a.478.478 0 01.338-.586zm-5.163-4.54a8.119 8.119 0 00-2.974-11.092.478.478 0 11.473-.827 9.075 9.075 0 013.324 12.397.478.478 0 01-.827-.478zm4.502-7.152a11.863 11.863 0 00-5.567-7.25.478.478 0 11.477-.827 12.902 12.902 0 014.723 17.617.478.478 0 11-.827-.477 11.863 11.863 0 001.195-9.062zm-7.81 5.241a4.3 4.3 0 00-1.574-5.872.478.478 0 01.478-.827 5.255 5.255 0 011.924 7.177.478.478 0 01-.827-.477z" fill="#613675"/>
          `;
        case 'facebook':
          return `
            <path d="M18.712 13.387a.761.761 0 00.761-.761V3.043A3.046 3.046 0 0016.43 0H3.043A3.046 3.046 0 000 3.043V16.43a3.046 3.046 0 003.043 3.043H16.43a3.046 3.046 0 003.043-3.043.761.761 0 00-1.521 0 1.523 1.523 0 01-1.521 1.521H12.7V12.4h1.76a.761.761 0 00.755-.67l.1-.837a.761.761 0 00-.755-.852H12.7V7.492a1.141 1.141 0 011.141-1.141h.951a.761.761 0 00.761-.761v-.769a.76.76 0 00-.682-.757 12.288 12.288 0 00-1.029-.071A3.522 3.522 0 0011.4 5.02a3.463 3.463 0 00-1.055 2.48v2.541H8.633a.761.761 0 00-.761.761v.837a.761.761 0 00.761.761h1.711v5.553h-7.3a1.523 1.523 0 01-1.523-1.523V3.043a1.523 1.523 0 011.522-1.522H16.43a1.523 1.523 0 011.521 1.521v9.584a.761.761 0 00.761.761zm0 0" fill="#613675"/>
          `;
        case 'instagram':
          return `
            <path d="M9.928 19.473h-.194c-1.526 0-2.937-.035-4.308-.119a5.759 5.759 0 01-3.319-1.255 5.328 5.328 0 01-1.791-2.892 12.809 12.809 0 01-.294-3.059C.012 11.437 0 10.599 0 9.738s.012-1.7.022-2.413a12.81 12.81 0 01.294-3.059 5.328 5.328 0 011.791-2.89A5.759 5.759 0 015.426.119C6.8.036 8.209-.001 9.738-.001s2.937.035 4.308.119a5.759 5.759 0 013.32 1.257 5.328 5.328 0 011.791 2.891 12.81 12.81 0 01.294 3.059c.01.711.02 1.553.022 2.41s-.012 1.7-.022 2.413a.761.761 0 11-1.521-.021c.01-.707.02-1.544.022-2.393s-.012-1.682-.022-2.389a11.653 11.653 0 00-.247-2.7 3.841 3.841 0 00-1.283-2.09 4.19 4.19 0 00-2.451-.917c-1.339-.081-2.718-.119-4.216-.116s-2.88.034-4.22.116a4.192 4.192 0 00-2.451.917A3.841 3.841 0 001.79 4.642a11.653 11.653 0 00-.247 2.7c-.01.707-.02 1.544-.022 2.393s.012 1.682.022 2.389a11.653 11.653 0 00.247 2.7 3.841 3.841 0 001.278 2.095 4.191 4.191 0 002.451.917c1.339.081 2.718.119 4.216.116s2.88-.034 4.219-.116a4.191 4.191 0 002.446-.917 3.655 3.655 0 001.044-1.4.762.762 0 011.4.6 5.16 5.16 0 01-1.478 1.98 5.758 5.758 0 01-3.32 1.257c-1.313.08-2.663.119-4.118.119zm4.524-9.736A4.754 4.754 0 109.7 14.491a4.759 4.759 0 004.752-4.754zm-1.521 0A3.233 3.233 0 119.7 6.499a3.236 3.236 0 013.231 3.238zm2.054-6.275a1.141 1.141 0 101.141 1.137 1.141 1.141 0 00-1.141-1.138zm0 0" fill="#613675"/>
          `;
        case 'twitter':
          return `
            <path d="M21.072 3.128l-.012-.046A5.059 5.059 0 0023.255.327a10.2 10.2 0 01-3.175 1.214A4.715 4.715 0 0016.58 0a4.941 4.941 0 00-4.95 4.9 9.17 9.17 0 00.08 1.17 13.977 13.977 0 01-6.672-2.306A12.893 12.893 0 012.277 1.38a.934.934 0 00-1.656.72 14.611 14.611 0 002.181 5.479 2.584 2.584 0 01-.71-.219.917.917 0 00-1.055.075.939.939 0 00-.291 1.036 7 7 0 003.987 3.851 2.941 2.941 0 01-.839.146.924.924 0 00-.883.558.937.937 0 00.2 1.036 7.372 7.372 0 003.232 1.655 6.6 6.6 0 01-2.711.765 9.218 9.218 0 01-2.58-.158.934.934 0 00-.583 1.769 19.34 19.34 0 006.533 1.379 18.223 18.223 0 005.37-.653 11.244 11.244 0 004.866-2.939.937.937 0 00-1.336-1.314c-2.5 2.522-5.366 3.038-8.909 3.038h-.249a6.982 6.982 0 002.513-1.927.934.934 0 00-.695-1.525 7.754 7.754 0 01-2.442-.453 4.365 4.365 0 001.345-1.183.934.934 0 00-.582-1.48 6.449 6.449 0 01-3.289-1.537 6.274 6.274 0 001.249-.185.934.934 0 00.422-1.579 9.221 9.221 0 01-1.9-2.78q.23.165.48.331a16.057 16.057 0 008.9 2.7.935.935 0 00.9-1.178 8.361 8.361 0 01-.248-1.9 2.987 2.987 0 01.9-2.139 3.085 3.085 0 012.178-.9 2.846 2.846 0 012.14.951 3.709 3.709 0 01.895 2.125v.566a.544.544 0 00.006.076.946.946 0 00-.006.11 12.833 12.833 0 01-1.168 5.618.934.934 0 101.682.812 14.678 14.678 0 001.354-6.43.944.944 0 00-.006-.107.612.612 0 00.006-.08v-.654a10.151 10.151 0 002.428-2.615 10.33 10.33 0 01-2.834.887z" fill="#613675"/>
          `;
        case 'send':
          return `
            <path d="M5.706 11.486v3.025a.489.489 0 00.883.29l1.767-2.408z" fill="#fff"/><path data-name="Path 42" d="M15.447.091a.489.489 0 00-.51-.035L.263 7.718a.489.489 0 00.068.9l4.079 1.391 8.69-7.428-6.723 8.1 6.837 2.337a.5.5 0 00.158.026.489.489 0 00.484-.417L15.647.561a.49.49 0 00-.2-.471z" fill="#fff"/>
          `;
        case 'collection':
          return `
            <path d="M113.946 88.486a15.94 15.94 0 00-12.641 6.231L86.884 82.611A22.145 22.145 0 0090.8 69.97a23.008 23.008 0 00-3.2-11.57l23.145-16.024a11.352 11.352 0 008.724 4.095 11.217 11.217 0 10-11.217-11.217 10.591 10.591 0 001.6 5.7L86.884 56.973A22.585 22.585 0 0068.9 47.715a19.368 19.368 0 00-7.122 1.246l-7.654-13.887a19.232 19.232 0 008.19-15.668A19.72 19.72 0 0042.73 0a19.229 19.229 0 109.614 35.964L59.822 49.5a22.387 22.387 0 00-13.353 18.16l-21.543-.712a13.27 13.27 0 10-.178 1.78l21.543.712v.534a22.226 22.226 0 0011.216 19.402l-11.038 19.941a17.158 17.158 0 00-9.97-1.424 16.028 16.028 0 1018.694 12.819 16.319 16.319 0 00-7.122-10.682l11.038-19.941a20.981 20.981 0 009.436 2.136 22.339 22.339 0 0017.27-8.19l14.421 12.107a15.522 15.522 0 00-2.493 8.546 16.2 16.2 0 1016.2-16.2z" fill="#ed6959"/>
          `;
        case 'analysis':
          return `
            <path d="M129.784 0a13.365 13.365 0 00-9.175 23.086l-25.5 42.867a12.579 12.579 0 00-4.144-.641A13.256 13.256 0 0080.6 70.244L65.163 62.6a13.175 13.175 0 00.395-3.157 13.368 13.368 0 10-26.736 0 13.6 13.6 0 002.22 7.4l-20.767 21.7a13.091 13.091 0 00-6.906-1.924 13.368 13.368 0 1013.368 13.368 13.6 13.6 0 00-2.22-7.4l20.767-21.7a13.091 13.091 0 006.906 1.924 13.256 13.256 0 0010.359-4.933l15.44 7.646a13.175 13.175 0 00-.395 3.157 13.368 13.368 0 1022.543-9.718l25.454-42.817a12.579 12.579 0 004.144.641 13.393 13.393 0 00.049-26.785z" fill="#fe8501"/>
          `;
        case 'coverage':
          return `
             <path d="M106.128 67.361V20.417a5.734 5.734 0 00-2.086-4.322 5.875 5.875 0 00-4.029-1.495h-.6a55.258 55.258 0 01-7 .447A54.578 54.578 0 0157.097 1.639a5.758 5.758 0 00-8.048 0c0 .149-13.711 13.413-35.32 13.413a55.259 55.259 0 01-7-.447h-.6a5.875 5.875 0 00-4.024 1.49 5.508 5.508 0 00-2.086 4.322v46.944c-.149 3.875-.6 38.747 50.968 59.612a5.812 5.812 0 004.471 0c51.415-21.014 50.968-55.886 50.67-59.612zM53.968 107C29.527 107 9.557 86.881 9.557 62.142a43.85 43.85 0 013.279-16.691l-5.365 2.533-2.683-5.961 10.73-5.067 5.961-2.832 2.533 6.11 4.471 11.028-6.11 2.538-2.384-5.961a37.678 37.678 0 00-2.832 14.307c0 20.566 16.542 37.257 36.81 37.257a36.987 36.987 0 0036.81-37.257c0-20.566-16.542-37.257-36.81-37.257a37.4 37.4 0 00-21.609 7l-5.514-5.365a43.97 43.97 0 0127.123-9.389c24.441 0 44.411 20.119 44.411 44.858 0 25.04-19.821 45.007-44.41 45.007zm24.738-49.922V69.3H59.184v19.521H46.963V69.3H27.44V57.078h19.523V37.555h12.22v19.523z" fill="#748afc"/>
          `;
        case 'check':
          return `
            <path data-name="Path 29" d="M8.272 1.232l-4.69 4.69a.721.721 0 01-1.02 0L.217 3.577a.721.721 0 011.02-1.02l1.835 1.835 4.18-4.18a.721.721 0 111.02 1.02zm0 0" fill="#fafafa"/>
          `;
        case 'team':
          return `
              <g fill="#fff">
              <path d="M16.656 10.235a5.125 5.125 0 10-3.622-1.506 5.1 5.1 0 003.622 1.506z"/>
              <path d="M30.048 9.114a4.95 4.95 0 01-6.045 1.06 11.957 11.957 0 012.866 7.874 8.537 8.537 0 01-.071 1.113c3.636.024 6.513.253 6.513-3.414a8.082 8.082 0 00-3.263-6.633z"/>
              <path d="M26.346 9.731a3.946 3.946 0 10-2.789-1.16 3.93 3.93 0 002.789 1.16z"/>
              <path d="M9.31 10.172a4.95 4.95 0 01-6.046-1.058A8.084 8.084 0 000 15.747c0 3.358 2.885 3.413 6.526 3.412a7.308 7.308 0 01-.083-1.111 11.959 11.959 0 012.867-7.876z"/>
              <path d="M6.965 9.731a3.946 3.946 0 10-2.789-1.16 3.93 3.93 0 002.789 1.16z"/>
              <path d="M21.876 9.747a8.953 8.953 0 00-.413-.313 6.454 6.454 0 01-9.614 0c-.141.1-.278.2-.413.313a10.573 10.573 0 00-3.826 8.3 6.015 6.015 0 00.1 1.115c.61 3.237 4.046 3.316 8.3 3.316h.655c.876 0 1.724.016 2.524.016 3.39 0 5.952-.3 6.432-3.336a6.988 6.988 0 00.089-1.111 10.572 10.572 0 00-3.834-8.3z"/>
              </g>
            `;
        case 'newsletter':
          return `
             <path d="M22.837 10.46H9.707l6.565 5.627zm0 0" fill="#613675"/>
             <path d="M16.272 17.434a.58.58 0 01-.378-.14l-7.177-6.151v10.94h15.109v-10.94l-7.176 6.151a.58.58 0 01-.378.14zm0 0" fill="#613675"/>
             <path d="M16.271 0a16.271 16.271 0 1016.272 16.271A16.272 16.272 0 0016.271 0zm8.717 22.664a.581.581 0 01-.581.581H8.136a.581.581 0 01-.581-.581V9.879a.581.581 0 01.581-.579h16.271a.581.581 0 01.581.581zm0 0" fill="#613675"/>
            `;
        default:
          return '';
      }
    },
    computedViewBox() {
      switch (this.name) {
        case 'messages':
          return '0 0 20.064 17.585';
        case 'messages-shadow':
          return '0 0 21.064 19.585';
        case 'arrow':
          return '0 0 5 7';
        case 'reverse':
          return '0 0 33.15 30.476';
        case 'cloud':
          return '0 0 33.583 23.786';
        case 'mail':
          return '0 0 29.122 17.473';
        case 'tel':
          return '0 0 29.099 33.489';
        case 'facebook':
          return '0 0 19.473 19.473';
        case 'instagram':
          return '0 0 19.472 19.473';
        case 'twitter':
          return '0 0 23.909 19.473';
        case 'send':
          return '0 0 15.652 15';
        case 'collection':
          return '0 0 130 140';
        case 'analysis':
          return '0 0 144 144';
        case 'coverage':
          return '0 0 106 128';
        case 'check':
          return '0 0 8.5 6';
        case 'team':
          return '0 0 33 22.5';
        case 'newsletter':
          return '0 0 32.543 32.543';
        default:
          return '0 0 0 0';
      }
    },
    defaultWidth() {
      return this.width || this.computedViewBox.split(' ')[2];
    },
    defaultHeight() {
      return this.heigth || this.computedViewBox.split(' ')[3];
    },
  },
};
</script>
